---
import { getCollection } from "astro:content";
import GttLayoutGames from "../../../layouts/GttLayoutGames.astro";
import "../../../styles/pages/game/bracket.css";
import Carousel from "../../../components/Carousel.astro";
import HorizontalCenter from "../../../components/HorizontalCenter.astro";

export async function getStaticPaths() {
    const games = await getCollection("games");
    interface Params {
        gameName: string;
    }

    interface Static {
        params: Params;
    }

    const paths: Static[] = [];

    for (const gameObj of games) {
        paths.push({ params: { gameName: gameObj.data.name } });
    }
    return paths;
}

const { gameName } = Astro.params;
const games = await getCollection("games");
let game = games[0];
for (let gameTest of games) {
    if (gameTest.data.name == gameName) {
        game = gameTest;
    }
}
---

<GttLayoutGames
    pageTitle="Bracket"
    generalRules={true}
    gameRules={`/games/rules/${gameName}/`}
    contestants={`/games/contestants/${gameName}/`}
>
    <Carousel elementId="contestants-events-selector" />
    <HorizontalCenter>
        <div
            id="contestants-events-holder"
            data-gameId={game.data.id}
            data-gameName={game.data.name}
        >
        </div>
    </HorizontalCenter>
</GttLayoutGames>

<script src="../../../scripts/pages/game/bracket.ts"></script>
