---
import PriceImage from "../assets/prices.jpeg";
import { Image } from "astro:assets";
import GttLayoutContent from "../layouts/GttLayoutContent.astro";
---

<GttLayoutContent pageTitle = "Ceny">
    <main id="prices">
        <h1>Ceny</h1>
        <h2>2023</h2>
        <h3>Counter-Strike 2</h3>
        <Image src={PriceImage} alt="Obrázek ceny"></Image>
        <h3>League of Legends</h3>
        <Image src={PriceImage} alt="Obrázek ceny"></Image>
        <h3>Valorant</h3>
        <Image src={PriceImage} alt="Obrázek ceny"></Image>
        <h3>Rainbow six: Siege</h3>
        <Image src={PriceImage} alt="Obrázek ceny"></Image>
        <h3>Rocket League</h3>
        <Image src={PriceImage} alt="Obrázek ceny"></Image>
        <h3>Minecraft</h3>
        <Image src={PriceImage} alt="Obrázek ceny"></Image>
    </main>
</GttLayoutContent>
<style is:global>
    #prices img{
        width: 15rem;
        margin: 0rem;
        padding: 0rem;
        height: auto;
    }

    #prices h3{
        margin-bottom: 1rem;
    }
</style>