---
import { Image } from 'astro:assets';
import GttLogo from '../../public/favicon.svg';
import HorizontalCenter from './HorizontalCenter.astro';
import ImageLink from './ImageLink.astro';
import YoutubeSvg from "../assets/youtube-logo.svg";
import DiscordSvg from "../assets/discord-logo.svg";
import InstagramSvg from "../assets/instagram-logo.svg";
import TwitchSvg from "../assets/twitch-logo.svg";
import MailSvg from "../assets/mail-logo.svg";
import GithubSvg from "../assets/github-logo.svg";
---

<footer>
  <HorizontalCenter className="Footer-holder">
    <Image src={GttLogo} alt="Gttournament logo" id="Footer-gttLogo" />
    <div id="Footer-linkHolder">
        <ImageLink className="Footer-link" image={YoutubeSvg} link="https://www.youtube.com/@gttournament" alt="Youtube">gttournament</ImageLink>
        <ImageLink className="Footer-link" image={TwitchSvg} link="https://www.twitch.tv/gttournament_a" alt="Twitch">GTTournament_A</ImageLink>
        <ImageLink className="Footer-link" image={MailSvg} link="mailto://turnajvpocitacovychhrach@gym-tisnov.cz" alt="Mail">Website designed by Roman Mrozek</ImageLink>
        <ImageLink className="Footer-link" image={DiscordSvg} link="https://discord.gg/WXtGFxrAdR" alt="discord">The GT Tournament</ImageLink>
        <ImageLink className="Footer-link" image={TwitchSvg} link="https://www.twitch.tv/gttournament_b" alt="Twitch">GTTournament_B</ImageLink>
        <ImageLink className="Footer-link" image={MailSvg} link="mailto://turnajvpocitacovychhrach@gym-tisnov.cz" alt="Mail">turnajvpocitacovychhrach@gym-tisnov.cz</ImageLink>
        <ImageLink className="Footer-link" image={InstagramSvg} link="https://www.instagram.com/gttournament.official" alt="Instagram">gttournament.official</ImageLink>
        <ImageLink className="Footer-link" image={GithubSvg} link="https://github.com/viotalJiplk/gttbe-2" alt="Github">backend</ImageLink>
        <ImageLink className="Footer-link" image={GithubSvg} link="https://github.com/viotalJiplk/gttfe-2" alt="Github">forntend</ImageLink>
    </div>
  </HorizontalCenter>
</footer>
<style is:global>
    footer{
        background-color: black;
        padding: 1vh;
        box-shadow: 0 0 10rem 0.1rem #ffad0aa1;
        margin-top: 8rem;
    }
    #Footer-gttLogo{
        height: 6vh;
        width: auto;
        padding: 2vh;
        margin-right: 2vh; 
        border-right: 0.1rem solid white;
    }
    #Footer-linkHolder{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .Footer-link{
        height: 2vh;
        padding: 0.5vh;
        text-wrap: nowrap;
    }
    .Footer-link img{
        margin-right: 0.2rem;
    }
    .Footer-holder{
        display: flex;
    }
    @media screen and (max-width: 1200px) {
        #Footer-linkHolder{
            display: block;
            grid-template-columns: auto auto auto;
        }
        .Footer-holder{
            display: block;
        }
        #Footer-gttLogo{
            height: 6vh;
            width: auto;
            padding: 0vh;
            margin-right: 0vh;
            margin-bottom: 1vh;
            padding-bottom: 1vh;
            border-right: 0rem solid white;
            border-bottom: 0.1rem solid white;
        }
    }
</style>