---
import { getCollection } from "astro:content";
import GttLayoutGames from "../../../layouts/GttLayoutGames.astro";
import { render } from "astro:content";
import HorizontalCenter from "../../../components/HorizontalCenter.astro";
import "../../../styles/pages/game/rules.css";

export async function getStaticPaths() {
    const games = await getCollection("games");
    interface Params {
        gameName: string;
    }

    interface Static {
        params: Params;
    }

    const paths: Static[] = [];

    for (const gameObj of games) {
        paths.push({ params: { gameName: gameObj.data.name } });
    }
    return paths;
}

const { gameName } = Astro.params;
const games = await getCollection("games");
let game = games[0];
for (let gameTest of games) {
    if (gameTest.data.name == gameName) {
        game = gameTest;
    }
}
const { Content } = await render(game);
---

<GttLayoutGames
    pageTitle={gameName}
    generalRules={true}
    contestants={`/games/contestants/${gameName}/`}
    bracket={`/games/bracket/${gameName}/`}
>
    <HorizontalCenter
        ><h1
            id="gameRules-h1"
            data-gameId={game.data.id}
            class="GttLayoutGames-main"
        >
            {gameName}
        </h1></HorizontalCenter
    >
    <HorizontalCenter
        ><h2 class="GttLayoutGames-registration">
            Registrace: <span id="gameRules-registrationTime">již brzy</span>
        </h2>
        <Content />
        <HorizontalCenter><div id="gameRules-gameRoles"></div></HorizontalCenter
        >
    </HorizontalCenter>
    <script src="../../../scripts/pages/game/rules.ts"></script>
</GttLayoutGames>
